@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 147, 245, 0.76)), color-stop(rgba(36, 165, 250, 0.76)), to(rgba(149, 213, 255, 0.76)));
  background-image: linear-gradient(to bottom left, rgba(0, 147, 245, 0.76), rgba(36, 165, 250, 0.76), rgba(149, 213, 255, 0.76));
}

#root :focus::-webkit-input-placeholder {
  color: transparent;
}

#root :focus:-ms-input-placeholder {
  color: transparent;
}

#root :focus::-ms-input-placeholder {
  color: transparent;
}

#root :focus::placeholder {
  color: transparent;
}

#root ::-webkit-input-placeholder {
  color: white;
}

#root :-ms-input-placeholder {
  color: white;
}

#root ::-ms-input-placeholder {
  color: white;
}

#root ::placeholder {
  color: white;
}

#root nav {
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

#root nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root nav .navbar img {
  width: 100px;
}

#root nav .navbar input[type=search] {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  padding-bottom: 2px;
  font-family: "Raleway", sans-serif;
  color: white;
  background: none;
  border: none;
  width: 18%;
  border-bottom: 1px white solid;
  margin-right: 2rem;
  text-align: center;
  outline: none;
}

#root nav .navbar input[type=search]:hover {
  background-color: rgba(255, 255, 255, 0.07);
}

#root nav .navbar input[type=search]:focus {
  background-color: rgba(255, 255, 255, 0.07);
}

#root nav .navbar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root nav .navbar .Logo {
  font-size: 5rem;
}

#root nav .navbar .siteName {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 2rem;
  font-weight: 600;
  letter-spacing: .2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

#root #collapse-text {
  font-family: "Raleway", sans-serif;
  width: 65%;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
}

#root .collapseButton {
  width: 65%;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#root .collapseButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

#root .collapseButton:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#root .jumbotron {
  font-family: "Raleway", sans-serif;
  width: 65%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
}

#root .jumbotron .details {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .jumbotron .details .date {
  font-size: 1.9rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#root .jumbotron .details .date .day {
  font-weight: 900;
}

#root .jumbotron .details .weather {
  text-align: center;
}

#root .jumbotron .details .weather .temp {
  width: 5rem;
  height: 2.6rem;
  font-size: 2rem;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root .jumbotron .details .weather .temp .deg {
  font-size: 3.7rem;
  margin-left: -1rem;
}

#root .jumbotron .details .weather .weather img {
  width: 2rem;
}

#root .jumbotron .content {
  width: 50%;
}

#root .nextDaysRow {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5vh;
}

#root .nextDaysRow .nextDays {
  padding: 0;
  width: 10%;
  background-color: rgba(255, 255, 255, 0.137);
  border-radius: 1rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
}

#root .nextDaysRow .nextDays:hover {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translate(0, 0);
  transform: translate(0, -2em);
}

#root .nextDaysRow .nextDays .top {
  text-align: center;
}

#root .nextDaysRow .nextDays .top .icon {
  text-align: center;
}

#root .nextDaysRow .nextDays .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

#root .nextDaysRow .nextDays .bottom .TempMax {
  color: white;
  width: 50%;
  text-align: center;
}

#root .nextDaysRow .nextDays .bottom .TempMax .deg {
  width: 20%;
  -webkit-transform: scale(3);
          transform: scale(3);
}

#root .nextDaysRow .nextDays .bottom .TempMin {
  color: rgba(255, 255, 255, 0.562);
  width: 50%;
  text-align: center;
}

#root .nextDaysRow .nextDays .bottom .TempMin .deg {
  width: 20%;
  -webkit-transform: scale(3);
          transform: scale(3);
}
