*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

#root {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    min-height: 100vh;
    background-image: linear-gradient(to bottom left,rgba(0, 147, 245, 0.76), rgba(36, 165, 250, 0.76), rgba(149, 213, 255, 0.76));

    :focus::placeholder {
        color: transparent;
    }

    ::placeholder{
        color: white;
    }

    nav {
        
        font-family: 'Raleway', sans-serif;
        width: 100%;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 100px;
            }

            input[type=search] {
                transition: 0.7s;
                padding-bottom: 2px;
                font-family: "Raleway", sans-serif;
                color: white;
                background: none;
                border: none;
                width: 18%;
                border-bottom: 1px white solid;
                margin-right: 2rem;
                text-align: center;
                outline: none;
                
                &:hover{
                    background-color: rgba(255, 255, 255, 0.07);
                }

                &:focus{
                    background-color: rgba(255, 255, 255, 0.07);
                }
            }

            .left{
                display:flex;
                align-items: center;
            }

            .Logo{
                font-size: 5rem;
            }

            .siteName{
                padding-left: 2rem;
                font-weight: 600;
                letter-spacing: .2rem;
                align-items: center;
                margin: 0;
            }
        }
    }

    .jumbotron {
        font-family: "Raleway", sans-serif;
        width: 65%;
        border-top-left-radius: 2vw;
        border-top-right-radius: 2vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.7s;
        background-color: rgba(255, 255, 255, 0.075);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            cursor: pointer;
        }

        .details {
            width: 40%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .date {
                font-size: 1.9rem;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            .weather {
                text-align: center;

                .temp {
                    width: 5rem;
                    height: 2.6rem;
                    font-size: 2rem;
                    margin-left: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .deg {
                        font-size: 3.7rem;
                        margin-left: -1rem;
                    }
                }

                .weather {
                    img {
                        width: 2rem;
                    }
                }
            }
        }

        .content {
            width: 50%;
        }
    }

    .dopdownContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        transition: 0.7s;

        .dropdownToggle {
            background-color: rgba(255, 255, 255, 0.075);
            border: none;
            width: 65%;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 2vw;
            border-bottom-right-radius: 2vw;

            &:hover{
                background-color: rgba(255, 255, 255, 0.30);
            }

            &:focus {
                box-shadow: none;
            }
        }

        .drowdownMenu {
            width: 60%;
            text-align: center;
        }
    }

    .nextDaysRow {
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 5rem;
        margin-left: 0;
        margin-right: 0;

        .nextDays {
            padding: 0;
            width: 10%;
            background-color: rgba(255, 255, 255, 0.137);
            border-radius: 1rem;
            transition: 0.7s;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
                -webkit-transform: translate(0,0);
                -moz-transform: translate(0,0);
                -o-transform: translate(0,0);
                -ms-transform: translate(0,0);
                transform: translate(0, -2em);
            }
            
            .top {
                text-align: center;

                .icon {
                    text-align: center;
                }
            }
            
            .bottom {
                display: flex;
                margin: 0 auto;

                .TempMax {
                    color: rgb(255, 255, 255);
                    width: 50%;
                    text-align: center;

                    .deg {
                        width: 20%;
                        transform: scale(3);
                    }
                }
                .TempMin {
                    color: rgba(255, 255, 255, 0.562);
                    width: 50%;
                    text-align: center;

                    .deg {
                        width: 20%;
                        transform: scale(3);
                    }
                }
            }
        }
    }
}