*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");


@media screen and (max-width: 750px) {

    #root {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        min-height: 100vh;
        background-image: linear-gradient(to bottom left,rgba(0, 147, 245, 0.76), rgba(36, 165, 250, 0.76), rgba(149, 213, 255, 0.76));
    
        :focus::placeholder {
            color: transparent;
        }
    
        ::placeholder{
            color: white;
        }
    
        nav {
            
            font-family: 'Raleway', sans-serif;
            width: 100%;
    
            .navbar {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                img {
                    width: 100px;
                }
    
                input[type=search] {
                    // transition: 0.7s;
                    // padding-bottom: 2px;
                    // font-family: "Raleway", sans-serif;
                    // color: white;
                    // background: none;
                    // border: none;
                    // width: 18%;
                    // border-bottom: 1px white solid;
                    // margin-right: 2rem;
                    // text-align: center;
                    // outline: none;
                    
                    // &:hover{
                    //     background-color: rgba(255, 255, 255, 0.07);
                    // }
    
                    // &:focus{
                    //     background-color: rgba(255, 255, 255, 0.07);
                    // }
                    display: none;
                }
    
                .left{
                    display:flex;
                    align-items: center;
                }
    
                .Logo{
                    font-size: 5rem;
                }
    
                .siteName{
                    // user-select: none;
                    // padding-left: 2rem;
                    // font-weight: 600;
                    // letter-spacing: .2rem;
                    // align-items: center;
                    // margin: 0;
                    display: none;
                }
            }
        }
    
        #collapse-text{
            display: hidden;
            font-family: "Raleway", sans-serif;
            width: 65%;
            background-color: rgba(255, 255, 255, 0.15);
            user-select: none;
            padding-left: 2vw;
            padding-right: 2vw;
            text-align: center;
        }
    
        .collapseButton{
            // width: 65%;
            // background-color: rgba(255, 255, 255, 0.15);
            // border: none;
            // border-bottom-left-radius: 2vw;
            // border-bottom-right-radius: 2vw;
            // border-top-left-radius: 0px;
            // border-top-right-radius: 0px;
            // &:hover{
            //     cursor: pointer;
            //     background-color: rgba(255, 255, 255, 0.3);
            // }
            // &:focus{
            //     box-shadow: none;
            // }
            display: none;
        }
    
        .jumbotron {
            p{
                margin-bottom: 0;
            }
            font-family: "Raleway", sans-serif;
            width: 96%;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            padding-top: 5vh;
            padding-bottom: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            cursor: default;
            transition: 0.7s;
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
            .details {
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
    
                .date {
                    font-size: 1.9rem;
                    font-weight: 300;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin-right: 40px;
                    .day {
                        font-weight: 900;
                    }
                }
    
                .weather {
                    text-align: center;
    
                    .temp {
                        width: 7rem;
                        height: 2.6rem;
                        font-size: 2rem;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        .deg {
                            font-size: 3.7rem;
                            margin-left: -1rem;
                        }
                    }
    
                    .weather {
                        padding-left: 8px;
                        img {
                            width: 2rem;
                        }
                    }
                }
                #hightemp{
                    margin-bottom: 8px;
                    font-weight: 700;
                }
                #lowtemp{
                    font-size: 1.3rem;
                    margin-bottom: 5px;
                }
            }
    
            .content {
                display: flex;
                width: 50%;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                li{
                    font-size: 1.2rem;
                }
                .through-day{
                    text-align: center;
                    // font-size: small;
                    ul{
                        list-style-type: none;
                    }
                }
                .feels-like{
                    // text-align: center;
                    // ul{
                    //     list-style-type: none;
                    // }
                    display: none;
                }
            }
        }
    
        .nextDaysRow {
            width: 90rem;
            display: grid;
            // justify-content: center;
            flex-wrap: wrap;
            // align-items: center;
            margin-top: 3rem;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 5vh;
    
            .nextDays {
                padding: 4;
                width: 80%;
                background-color: rgba(255, 255, 255, 0.137);
                border-radius: 1rem;
                transition: 0.7s;
                cursor: pointer;
    
                &:hover {
                    // background-color: rgba(255, 255, 255, 0.3);
                    // -webkit-transform: translate(0,0);
                    // -moz-transform: translate(0,0);
                    // -o-transform: translate(0,0);
                    // -ms-transform: translate(0,0);
                    // transform: translate(0, -2em);
                    display: none;
                }
                
                .top {
                    text-align: center;
    
                    .icon {
                        // text-align: center;
                        display: none;
                    }
                }
                
                .bottom {
                    display: flex;
                    margin: 0 auto;
    
                    .TempMax {
                        color: rgb(255, 255, 255);
                        width: 50%;
                        text-align: center;
    
                        .deg {
                            width: 20%;
                            transform: scale(3);
                        }
                    }
                    .TempMin {
                        color: rgba(255, 255, 255, 0.562);
                        width: 50%;
                        text-align: center;
    
                        .deg {
                            width: 20%; 
                            transform: scale(3);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 751px) {
    

#root {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    min-height: 100vh;
    background-image: linear-gradient(to bottom left,rgba(61, 178, 255, 0.76), rgba(7, 152, 248, 0.76), rgba(149, 213, 255, 0.76));

    :focus::placeholder {
        color: transparent;
    }

    ::placeholder{
        color: white;
    }

    nav {
        
        font-family: 'Raleway', sans-serif;
        width: 100%;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;

            img {
                width: 100px;
            }

            input[type=search] {
                transition: 0.7s;
                padding-bottom: 2px;
                font-family: "Raleway", sans-serif;
                color: white;
                background: none;
                border: none;
                width: 18%;
                border-bottom: 1px white solid;
                margin-right: 2rem;
                text-align: center;
                outline: none;
                
                &:hover{
                    background-color: rgba(255, 255, 255, 0.07);
                }

                &:focus{
                    background-color: rgba(255, 255, 255, 0.07);
                }
            }
            

            .left{
                display:flex;
                align-items: center;
            }

            .Logo{
                font-size: 5rem;
            }

            .siteName{
                user-select: none;
                padding-left: 2rem;
                font-weight: 600;
                letter-spacing: .2rem;
                align-items: center;
                margin: 0;
            }
        }
    }

    #collapse-text{
        border-top: 1px solid rgba(255, 255, 255, 0.26);
        
        font-family: "Raleway", sans-serif;
        width: 65%;
        background-color: rgba(255, 255, 255, 0.15);
        user-select: none;
        padding-left: 2vw;
        padding-right: 2vw;
        text-align: center;
        
        h4{
            font-weight: 800;
            font-size: 1.4rem;
            padding: 0;
            margin: 0;
        }
        div.arrow{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            #arrow-icon{
                font-size: 4rem;
            }
        }
        div#dropdownwrap{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        div.list{
            margin-left: 20px;
        }
        ul{
            
            display: flex;
            flex-direction: row;
           
            list-style-type: none;
            margin: 0;
            padding: 0;
            div{
                display: flex;
                flex-direction: column;
            }
        }
        li{
            font-size: 1.1rem;
            text-align: center;
        }
    }

    .collapseButton{
        width: 65%;
        background-color: rgba(255, 255, 255, 0.15);
        border: none;
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        &:hover{
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.3);
        }
        &:focus{
            box-shadow: none;
        }
    }

    .jumbotron {
        p{
            margin-bottom: 0;
        }
        font-family: "Raleway", sans-serif;
        width: 65%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin-top: 2vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: default;
        transition: 0.7s;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
        .details {
            width: 40%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .date {
                font-size: 1.9rem;
                font-weight: 300;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                .day {
                    font-weight: 900;
                }
            }

            .weather {
                text-align: center;

                .temp {
                    width: 7rem;
                    height: 2.6rem;
                    font-size: 2rem;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .deg {
                        font-size: 3.7rem;
                        margin-left: -1rem;
                    }
                }

                .weather {
                    padding-left: 8px;
                    img {
                        width: 2rem;
                    }
                }
            }
            #hightemp{
                margin-bottom: 8px;
                font-weight: 700;
            }
            #lowtemp{
                font-size: 1.3rem;
                margin-bottom: 5px;
            }
        }

        .content {
            display: flex;
            width: 50%;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            li{
                font-size: 1.2rem;
            }
            .through-day{
                text-align: center;
                ul{
                    list-style-type: none;
                }
            }
            .feels-like{
                text-align: center;
                ul{
                    list-style-type: none;
                }
            }
        }
    }


    .nextDaysRow {
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 5rem;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5vh;
        font-size: small;

        .nextDays {
            padding: 0;
            width: 10%;
            background-color: rgba(255, 255, 255, 0.137);
            border-radius: 1rem;
            transition: 0.7s;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
                -webkit-transform: translate(0,0);
                -moz-transform: translate(0,0);
                -o-transform: translate(0,0);
                -ms-transform: translate(0,0);
                transform: translate(0, -2em);
            }
            
            .top {
                text-align: center;

                .icon {
                    // // text-align: left;
                    // justify-content: left ;
                    // width: 50px;
                    // height: auto;
                    img{
                        height: 70px;
                        width: 70px;
                    }
                }
            }
            
            .bottom {
                display: flex;
                margin: 0 auto;

                .TempMax {
                    color: rgb(255, 255, 255);
                    width: 50%;
                    text-align: center;

                    .deg {
                        width: 20%;
                        transform: scale(3);
                    }
                }
                .TempMin {
                    color: rgba(255, 255, 255, 0.562);
                    width: 50%;
                    text-align: center;

                    .deg {
                        width: 20%; 
                        transform: scale(3);
                    }
                }
            }
        }
    }
}
}