*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

#root {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    min-height: 100vh;
    background-image: linear-gradient(to bottom left, rgba(0, 147, 245, 0.76), rgba(36, 165, 250, 0.76), rgba(149, 213, 255, 0.76));

    nav {
        width: 100%;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            img {
                width: 100px;
            }

            input[type=search] {
                margin-right: 5rem;
                text-align: center;
                outline: none;
            }
        }
    }
    

    .jumbotron {
        font-family: 'Raleway', sans-serif;
        width: 65%;
        border-radius: 2vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1.2s;

        &:hover {
            background-color: rgba(255, 255, 255, 0.151);
            cursor: pointer;
        }

        .details {
            width: 40%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;


            .date {
                font-size: 1.9rem;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        
            .weather {
                text-align: center;
        
    
                .temp {
                    width: 5rem;
                    height: 2.6rem;
                    font-size: 2rem;
                    margin-left: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .deg {
                        font-size: 3.7rem;
                        margin-left: -1rem;
                    }
                }

                .weather {


                    img {
                        width: 2rem;
                    }
                }
            }
        }

        .content {
            width: 50%;
        }
    }

    .dopdownContainer {
        width: 100%;
        display: flex;
        justify-content: center;

        .dropdownToggle {
            width: 60%;
        }

        .drowdownMenu {
            width: 60%;
            text-align: center;
        }
    }

    .nextDaysRow {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;

        .nextDays {
            padding: 0;
            width: 10%;
            background-color: rgba(255, 255, 255, 0.137);
            border-radius: 1rem;

            .icon {
                text-align: center;
            }

            .Temp {
                width: 100%;
                text-align: center;
            }
        }
    }
    
}